select {
    margin-right: 1ex;
}

#controls {
    margin-bottom: 20px;
}

#results {
    min-height: 500px;
}

.article-preview {
    margin-bottom: 0;
}

.article-preview h2 {
    color: rgb(148, 82, 0);
}
