#archive {
    min-height: 500px;
}

.toolbar {
    margin-top: -21px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.archive-filter-select {
    display: inline-block;
    margin-right: 2ex;
}

.archive-filter-select label:after {
    content: ":  "
}

.article-preview h2 {
    margin-top: -5px;
}

.force-hd-aspect {
    margin-bottom: 30px;
}
