@import url(https://fonts.googleapis.com/css?family=Dosis:500&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400&subset=latin-ext);

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 32px;
}

#main {
    position: relative;
}

/* Header */

.header {
    border-bottom: 1px solid #ddd;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px #ddd;
}

h1 {
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(148, 82, 0);
    padding: 10px 0 10px 30px;
    margin: 0;
}

h1 small {
    text-transform: uppercase;
    font-size: 100%;
    color: silver;
}

/* Filter Sidebar */

.sidebar {
    position: fixed;
    z-index: 2000;
    width: 300px;
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ddd;
}

option, select, input {
    font-size: 16px;
}

.filters {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.filter {
    margin-bottom: 10px;
}

.filterLabel {
    text-transform: lowercase;
}

.filter select {
    width: 100%;
}

/* Search Field */

.search {
    margin-top: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-bottom: 1px solid #ddd;
}

.search input {
    border: none;
}

.search input:focus {
    outline: none;
}

/* Results Stats */

.resultStats {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    color: gray;
}

/* Articles */

.articles {
    padding-left: 30px;
    margin-right: 330px;
}

.article-wrapper {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}

.article {
    border-top: 1px solid gray;
    margin-right: 30px;
    font-family: 'PT Serif', serif;
    color: #333;
}

.article h2 {
    color: rgb(148, 82, 0);
    margin-top: 10px;
    margin-bottom: 8px;
}

.article .perex {
    line-height: 1.4em;
}

.article .metadata {
    color: gray;
    text-transform: uppercase;
}

/* Responsive Overrides */

@media only screen and (max-width: 1280px) {
    .article-wrapper { width: 50%; }
}

@media only screen and (max-width: 800px) {
    .article-wrapper { width: 100%; height: auto; margin-bottom: 0; }
}

@media only screen and (max-width: 600px) {
    .articles { margin-right: 30px; }
    .article-wrapper { width: 100%; height: auto; margin-bottom: 0; }
    .sidebar { display: none; }
}
